.body{
    margin-left: 5.9vw;
    width: 94.1vw;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: auto;
    padding: 10vh;
}
.img{
    height: 85vh;

}
.heading{
    line-height: 10vh;
}
.container{
    height: auto;
    width: 25vw;
    background-color: #65D1FF;
    padding: 4vh 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    width: 25vw;
    font-size: 2.5vh;
}
.detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
}

.input{
    padding: .5vh;
    border-radius: 10px;
    font-size: 2vh;
}

.btn{
    background-color: #a5e0f9;
    border-radius: 10px;
    padding: 1vh;
    font-size: 2.5vh;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
}