.head {
  width: 90%;
  margin-left: 7%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
}

/* Header styles */
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
  
  .logo {
    height: 50px;
    margin-right: auto;
  }
  
  .filter {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #335db4;
    border-radius: 8px;
    background-color: #f0f4fa;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .filter:hover {
    background-color: #d9e6f8;
  }
  
  .body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2vh 0;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .archiimage {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .contactbtn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #00b3ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contactbtn:hover {
    background-color: #008ace;
  }
  
  @media (max-width: 768px) {
    .filter {
      font-size: medium;
    }
  
    .card {
      padding: 1rem;
    }
  
    .buttons {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  