.head{
    width: 90vw;
    height: 200vh;
    margin-left:15vh;;
}

.card{
    padding: 4vh;
    width: 80vw;
    margin: 3vh 7vh; 
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3vh 15vh;
}
.details{
    font-size: 22px;
    font-weight: 600;
    width: 700px;
}
.logo{
    height: 10vh;
}

.filter{
    width: 13vw;
    padding: 1vh;
    font-size: x-large;
    background-color: rgb(195, 195, 195);
    border-radius: 15px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.btn{
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(115, 255, 255);
    border: 2px solid #335DB4;
}