.nav{
    display: flex;
    flex-direction: column;
}

.mainnav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:95.8vh;
    overflow-y: hidden;
    background-color: #335DB4;
    padding: 15px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.menu{
    height: 20px;
    padding: 12px;
}
.design{
    height: 30px;
    padding: 9px;
}
.archi{
    height: 42px;
    padding: 2px 0px 2px 2px;
}
.profile{
    height: 45px;
    padding: 2px 0px 2px 2px;
}
.logout{
    height: 35px;
    padding: 7px 0px 5px 10px;
}

.navicon{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    border-radius: 100%;
    margin: 5px;
    align-items: center;
}

.navtext{
    display: none;
    text-decoration: none;
    text-align: center;

    color: black;
    text-decoration: none;
}